<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Instructor Template</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="../css/navbar.css">

</head>
    <div class="wrapper">
        <div class="navbar navbar-default navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://www.cs.umd.edu/class/fall2017/cmsc389N/staff.shtml">
                        Office Hours Scheduling
                    </a>

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_nav_bar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>


                <div id="main_nav_bar" class="collapse navbar-collapse">
                    <ul id="menuItems" class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle my-nav-links line-right" data-toggle="dropdown" href="#">Overview
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="" href="#">CMSC132</a></li>
                                <li><a class="" href="#">CMSC216</a></li>
                                <li><a class="" href="#">CMSC389N</a></li>
                                <!--This part will have to be generated dynamically.-->
                            </ul>
                        </li>
                        <li><a class="my-nav-links line-right" href="">about</a></li>
                        <li><a class="my-nav-links line-right" href="">guide</a></li>
                        <li><a class="my-nav-links line-right" href="">feedback</a></li>
                        <li><a class="my-nav-links" href="">+</a></li>
                    </ul>
                </div>
            </div>
        </div>

        
    </div>
<body>



</body>
</html>